{{#each projects as |project|}}
  <div class="card mb-4">
    <div class="mb-3">
      <h2>
        <a href="/project/{{project.id}}">{{project.name}}</a>
      </h2>
      <p class="mb-2">
        <span for="img" aria-label="money">💲</span>
        <span class="dollar-amount">{{formatAmount project.funding_goal}}</span>
        needed!
      </p>
      <p class="text-muted">Created by
        {{project.user.name}}
        on
        {{formatDate project.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{project.description}}
      </p>
    </div>
  </div>
{{/each}}