<div class="container mt-4">
  <div class="mb-4">
    <h2>Welcome, {{name}}!</h2>
  </div>

  {{#if projects.length}}
    <div class="mb-4">
      <h3>Current Projects:</h3>
      <div class="project-list">
        {{#each projects as |project|}}
          <div class="card mb-3 project-card">
            <h4><a href="/project/{{project.id}}">{{project.name}}</a>
            </h4>
            <button
              class="btn btn-sm btn-danger"
              data-id="{{project.id}}"
              data-name="{{project.name}}"
            >Delete</button>

          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <div>
    <h3>Create A New Project</h3>
    <form id="new-project-form" class="card">
      <div>
        <label for="project-name">Project Name:</label>
        <input
          class="form-input"
          type="text"
          id="project-name"
          name="project-name"
        />
      </div>
      <div>
        <label for="project-desc">Description:</label>
        <textarea
          class="form-input"
          id="project-desc"
          name="project-desc"
        ></textarea>
      </div>
      <div>
        <label for="project-fund">Funding Goal ($):</label>
        <input
          class="form-input"
          type="number"
          id="project-fund"
          name="project-fund"
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Create Project</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/profile.js"></script>