<div class="container mt-4">
  <div class="card">
    <h2 class="mb-3">{{name}}</h2>
    <p class="mb-3">{{description}}</p>
    <p class="text-muted">Created by <strong>{{user.name}}</strong></p>

    <div class="mb-3">
      <p class="mb-2">
        <span role="img" aria-label="money">💲</span>
        <span class="dollar-amount">{{formatAmount funding_goal}}</span>
        needed
      </p>
      <p class="mb-2"><span role="img" aria-label="money">💲</span>
        <span>{{formatAmount funded_amount}}</span>
        raised</p>
    </div>

    <div class="progress-bar-wrapper mb-2">
      <div class="progress-bar" style="width:{{progressPercent}}%;"></div>
    </div>
    <span class="text-muted">{{formatPercent progressPercent}}</span>
    <div class="mt-4 text-center">
      <button id="donate-btn" class="btn btn-primary">Fund this Project!</button>
    </div>
  </div>
</div>

<script src="/js/project.js"></script>